@font-face {
font-family: Delicious;
src: url("/fonts/Delicious-Roman.otf") format("opentype");
}

@font-face {
font-family: Lato;
src: url("/fonts/Lato-Hai.otf") format("opentype");
}

h1 {
	font-size: 46px;
}

h1, h2, h3, h4 {
	font-family: Lato, Helvetica, Verdana, Sans-Serif;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #555;
}

h2 {
	border-bottom: 1px solid #ddd;
}

.header {
	border-bottom: 1px solid #eee;
	width: 100%;
}

.title {
	padding-top:10px;
	padding-bottom: 20px;
	background-image: url('/images/chevron-large-trans.png');
	background-repeat:no-repeat;
	background-position: right;
}
	
.title .logo {
font-size: 37px;
font-family: Lato, Helvetica, Verdana, Sans-Serif;
font-weight: normal;
color: #666;
}

.title .logo span {
	height: 44px;
}

.title .logo img {
	height: 100%;
}

.title .subtitle {
font-family: Delicious, Helvetica, Verdana, Sans-Serif;
color: #666;
font-size: 15px;
}

@media (min-width: 768px) {
	.title {
		padding-top:40px;
		padding-bottom: 40px;
		background-image: url('/images/chevron-large.jpg');
		background-repeat:no-repeat;
		background-position: right;
	}

	.title .logo {
		font-size: 37px;
		font-family: Lato, Helvetica, Verdana, Sans-Serif;
		font-weight: normal;
		color: #666;
	}

	.title .logo span {
		float: left;
		height: 44px;
	}

	.title .logo img {
		height: 100%;
		float: left;
	}

	.title .logo span:after {
		border: solid #E5E5E5;
		border-width: 0 1px 0 0;
		content: "";
		float: right;
		height: 44px;
		margin: 0 12px 0 14px;
	}

	.title .subtitle {
		font-family: Delicious, Helvetica, Verdana, Sans-Serif;
		color: #666;
		font-size: 26px;
	}
}

a {
	color: #cb2531;
	text-decoration: none;
}

a:hover,
a:focus {
  color: #999;
  text-decoration: none;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.content {
	color: #4e535e;
	line-height: 1.625;
	font-size: 17px;
}

.content .row {
	margin-top:25px;
	margin-bottom: 25px;
}

.post-nav {
	font-size: 20px;
}

.footer {
	margin-top: 45px;
	padding: 35px 0 36px;
	border-top: 1px solid #e5e5e5;
	background-color: #f9f9f9;
}