    <div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="title hidden-xs">
						<div class="logo">
							<span><a href="/"><img src="/images/logo.jpg"></a></span> Official team blog
						</div>
						<div class="subtitle">Our thoughts, knowledge, insights and opinions</div>
					</div>
					<div class="title visible-xs">
						<div class="logo">
							<span><a href="/"><img src="/images/logo-trans.png"></a></span>
							<div>Official team blog</div>
						</div>
						<div class="subtitle">Our thoughts, knowledge, insights and opinions</div>
					</div>
				</div>
			</div>
        </div>
	</div>
